* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1196px;
    width: 100%;
    margin: 0 auto;
}

/*Header start*/

.header {
    background: url('./assets/MoviesBackground.png'), lightgray -4.967px -135.255px / 106.206% 268.483% no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    position: relative;
}

.back-bottom-Background {
    background: url('./assets/LowerBar-TransitionElement.png'), no-repeat;
    height: 100px;
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0 !important;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 49px;
}

.nav {
    position: relative;
    display: flex;
    width: 252px;
    padding: 11px 31px 9px 187px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #FFF;
    transition: .3s;
}

.nav ul a:hover {
    color: #e0dede;
}


.header-left h1 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 25.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.language p {
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 30px;
    cursor: pointer;
    transition: .3s;
}

.language p:hover {
    color: #e0dede;
}

.language i {
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.language i:hover {
    color: #e0dede;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.header-right p:nth-child(1) {
    display: flex;
    width: 137px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2px -2px 120px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5px);
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}

.header-right p:nth-child(1):hover {
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(178, 175, 175, 0.4) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2px -2px 120px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5px);
}

.header-right p:nth-child(2) {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 43px;
    cursor: pointer;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}

.header-right p:nth-child(2):hover {
    background: rgba(183, 179, 179, 0.16);

}


.header-right .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 12.5px;
    background: #E24D4D;
    box-shadow: -1px 1px 4px 0px rgba(248, 0, 0, 0.40);
    margin-left: 20px;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: centert;
    position: absolute;
    right: 200px;
    top: 200px;
    display: flex;
    height: 40px;
    width: 40px;
}

.volume i {
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}



/*language drabdown start*/


.language-drabdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 6.977px;
    background: rgba(255, 255, 255, 0.16);
    display: none;
    transition: .5s;
    width: 60px;
}

.language-drabdown p {
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: .3s;
    padding: 3px;
}

.language-drabdown p:hover {
    background-color: rgb(181, 178, 178, 0.40);
    color: #FFF;
    border-radius: 5px;
}

/*language drabdown end*/



/*Watch list dropdown start*/
.watch-list-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 270px;
    width: 100%;
    border-radius: 6.977px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2px -2px 120px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5px);
    padding: 20px;
    top: 40px;
    right: 110px;
    display: none;
    z-index: 2;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}


.watch-list-dropdown .watch-list-close i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position: absolute;
    right: -5px;
    top: -9px;
    border-radius: 50%;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(2.375px);
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.watch-list-first {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 215px;
    background: #1F1F1F;
    height: 41px;
    position: relative;
    border-radius: 5px;
}

.watch-list-first img {
    border-radius: 3px 0px 0px 3px;
    width: 70px;
    height: 41px;
}

.watch-list-first span {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    border-radius: 2.751px;

}

.watch-list-first i {
    display: flex;
    flex: end;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

/*Watch list dropdown end*/

/*sign-in dropdown start */
.sign-in-popup {
    position: absolute;
    inset: 0;
    bottom: -251px;
    background: black;
    z-index: 1;
    opacity: 0.7;
    display: none;
}

.sign-in-box {
    position: relative;
}

.sign-in-popup .sign-in-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 57px 20px 64px;
    max-width: 490px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background: radial-gradient(107.32% 141.42% at 28% 73%, rgba(255, 255, 255, 0.40) 77%, rgba(255, 255, 255, 26) 100%);
    box-shadow: -2px -2px 120px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(-1px);
    backdrop-filter: blur(6px);
    z-index: 2;
}

.sign-in-box h2 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 42px;
}

.owl-item:hover {
    box-shadow: white;
    transform: scale(1.1) !important;
}

.owl-item:hover .card-bottom {
    display: contents;
    z-index: 5;
}

.sign-in-box span {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 40px;
}

.form p {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 5px;
}

.form label input {
    width: 369px;
    height: 52px;
    border-radius: 8px;
    background: #0D0D0D;
    color: #fff;
    margin-bottom: 17px;
    outline: none;
    padding: 20px;
}

.form label input:focus {
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
}

.form label input::placeholder {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
}

.sign_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}

.sign_in p:nth-child(1) {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}

.sign_in p:nth-child(1):hover {
    color: #d1cbcb;
}

.sign_in p:nth-child(2) {
    display: flex;
    width: 170px;
    height: 48px;
    padding: 14px 59px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 55px;
    border-top: 1px solid #0ff7f0;
    border-left: 1px solid #0ff7f0;
    border-right: 1px solid #0ff7f0;
    border-bottom: 1px solid #D686FF;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -3.325335741043091px -3.325335741043091px 166.2667999267578px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(6.875px);
    cursor: pointer;
    transition: .3s;
}

.sign_in p:nth-child(2):hover {
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(183, 179, 179, 0.4) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -3.325335741043091px -3.325335741043091px 166.2667999267578px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(6.875px);
}

.sing-in-bottom {
    text-align: center;
    padding-top: 32px;
}

.sing-in-bottom p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.sign-in-close i {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
    border-radius: 43px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.5998082160949707px -2.5998082160949707px 129.99041748046875px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5.375px);
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-close i:hover {
    transition: .3s;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(54, 53, 53, 0.4) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.5998082160949707px -2.5998082160949707px 129.99041748046875px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5.375px);
}

/*sign-in dropdown end */


/*Header end*/

/*Main section start*/

.main {
    background: #1F1F1F;
    padding-top: 50px;
    box-shadow: 10px 10px 10px #1F1F1F;
}

.first-movies .item img {
    width: 297px;
    height: 170px;
    object-fit: cover;
}

.first-movies .owl-carousel .item h4 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.second-movies .item img {
    width: 297px;
    height: 170px;
    object-fit: cover;
}


.second-movies .item h4 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 6.583px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.244035243988037px -2.244035243988037px 112.2017822265625px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(7.5px);
    padding: 20px;
    display: none;
}

.card-bottom .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

.card-icon i:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 43px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.5998082160949707px -2.5998082160949707px 129.99041748046875px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5.375px);
    height: 30px;
    width: 30px;
}

.card-icon i:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 42px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, #0CF9F0 0%, #D686FF 100%);
    box-shadow: -2.5393476486206055px -2.5393476486206055px 126.9673843383789px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5.250000476837158px);
}

.card-icon i:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 43px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.5998082160949707px -2.5998082160949707px 129.99041748046875px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5.375px);
    height: 30px;
    width: 30px;

}

.card-content p:nth-child(1) {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.card-content p:nth-child(2) {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.owl-carousel .owl-nav {
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.first-movies .owl-carousel .owl-nav {
    bottom: 19vh;
}


.second-movies .owl-carousel .owl-nav {
    bottom: 19vh;
}

.owl-carousel .owl-nav button {
    display: flex;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.16) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav .owl-prev {
    position: relative;
    left: 20px;
}

.owl-carousel .owl-nav .owl-next {
    position: relative;
    right: 20px;
}


.owl-carousel .owl-nav .owl-prev span {
    font-size: 60px;
    object-fit: contain;
    position: relative !important;

}

.owl-carousel .owl-nav .owl-next span {
    font-size: 60px;
    object-fit: contain;
}

/*Main section end*/

/*hamburger menu start*/
.hamburger {
    display: none;
    position: relative;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 50%;
    min-height: 100vh;
    display: block;
    z-index: 99;
    background-color: #000;
    padding-top: 120px;
    transition: .5s !important;
}

.mobile-nav.is-active {
    left: 0;
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin: 20px 0 16px 20px;
    max-width: 200px;
    width: 100%;
    padding: 12px 16px;
    background-color: #282727;
    color: #FFF;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #3b3a3c;
}

.mobile-nav .mobile-logo {
    margin: -74px 0 50px 30px;
}

.mobile-nav .mobile-logo h1 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.burger-language {
    display: flex;
    position: absolute;
    bottom: 50px;
    align-items: flex-end;
}

.burger-language p {
    font-size: 20px;
}

.burger-language i {
    font-size: 15px;
}

/*hamburger menu end*/


/*respnsive start*/
.owl-carousel .owl-stage-outer {
    overflow: unset !important;
}

.moives-box {
    overflow: hidden;
}

@media only screen and (max-width:1197px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .first-movies .item img {
        width: 287px;
        height: 160px;
        border-radius: 10px;
        object-fit: cover;
    }

    .second-movies .item img {
        width: 287px;
        height: 160px;
        border-radius: 10px;
        object-fit: cover;
    }


}

@media only screen and (max-width: 993px) {
    .first-movies .item img {
        width: 287px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }

    .second-movies .item img {
        width: 287px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }

    /* .first-movies .owl-carousel .owl-nav {
        bottom: 14vh;
        right: 5px;
    }

    .second-movies .owl-carousel .owl-nav {
        bottom: 14vh;
        right: 5px;
    } */
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 740px;
        width: 100%;
        padding: 0 20px;
    }

    .hamburger {
        display: block;
    }

    .nav {
        display: none;
    }

    .header-right {
        display: none;
    }

    .first-movies .item img {
        width: 193px !important;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
    }

    .second-movies .item img {
        width: 193px !important;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
    }

    .owl-carousel .owl-nav .owl-prev {
        position: relative;
        left: 25px;
    }


    .second-movies .owl-carousel .owl-nav {
        bottom: 17vh;
    }

    .volume {
        right: 35px;
    }

    .moives-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .first-movies .owl-carousel .owl-nav {
        bottom: 15vh;
        right: 20px;
    }

    .second-movies .owl-carousel .owl-nav {
        bottom: 15vh;
        right: 20px;
    }

}

@media only screen and (max-width: 599px) {

    .container {
        max-width: 490px;
        width: 100%;
    }

    .mobile-nav a {
        max-width: 116px;
        width: 100%;
    }

    .first-movies .item img {
        width: 180px !important;
        height: 110px;
        border-radius: 10px;
        object-fit: cover;
    }

    .second-movies .item img {
        width: 180px !important;
        height: 110px;
        border-radius: 10px;
        object-fit: cover;
    }

    .first-movies .owl-carousel .owl-nav {
        bottom: 15vh;
        right: 5px;
    }

    .second-movies .owl-carousel .owl-nav {
        bottom: 15vh;
        right: 5px;
    }

}

@media only screen and (max-width: 408px) {

    .container {
        max-width: 330px;
        width: 100%;
    }

    .first-movies .item img {
        width: 280px !important;
        height: 130px;
        border-radius: 10px;
        object-fit: cover;
    }

    .second-movies .item img {
        width: 280px !important;
        height: 130px;
        border-radius: 10px;
        object-fit: cover;
    }

    .first-movies .owl-carousel .owl-nav {
        bottom: 17vh;
        right: 7px;
    }

    .second-movies .owl-carousel .owl-nav {
        bottom: 17vh;
        right: 7px;
    }
}

@media only screen and (max-width: 340px) {
    .first-movies .owl-carousel .owl-nav {
        bottom: 17vh;
        right: 2px;
    }

    .first-movies .owl-carousel .owl-nav {
        bottom: 17vh;
        right: 2px;
    }
}