* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1196px;
    width: 100%;
    margin: 0 auto;
}

/*Header start*/

.header {
    background: url('./assets/MoviesBackground.png'), lightgray -4.967px -135.255px / 106.206% 268.483% no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    position: relative;
}

.back-bottom-Background {
    background: url('./assets/LowerBar-TransitionElement.png'),  no-repeat;
    height: 100px;
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 49px;
}

.nav {
    position: relative;
    display: flex;
    width: 252px;
    padding: 15px 31px 11px 187px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #FFF;
}


.header-left h1 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 25.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.language p {
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 30px;
    cursor: pointer;
}

.language i {
    color: #FFF;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right p:nth-child(1) {
    display: flex;
    width: 137px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2px -2px 120px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(5px);
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.header-right p:nth-child(2) {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 43px;
    cursor: pointer;
}


.header-right .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 12.5px;
    background: #E24D4D;
    box-shadow: -1px 1px 4px 0px rgba(248, 0, 0, 0.40);
    margin-left: 20px;
}

/*language drabdown start*/


.language-drabdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 6.977px;
    background: rgba(255, 255, 255, 0.16);
    display: none;
    transition: .5s;
    width: 60px;
}

.language-drabdown p {
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: .3s;
    padding: 3px;
}

.language-drabdown p:hover {
    background-color: rgb(153, 151, 151);
    color: #FFF;
    border-radius: 5px;
}


/*language drabdown end*/

/*Header end*/

/*Main section start*/

.main {
    background: #1F1F1F;
    padding-top: 50px;
    box-shadow: 10px 10px 10px #1F1F1F;
}

.first-movies .item img {
    width: 297px;
    height: 170px;
    object-fit: cover;
}

.first-movies .owl-carousel .item h4 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.second-movies .item img {
    width: 297px;
    height: 170px;
    object-fit: cover;
}

.second-movies .item h4 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.owl-carousel .owl-nav {
    height: 20px;
    position: relative;
    bottom: 155px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.owl-carousel .owl-nav button {
    display: flex;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.16) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav .owl-prev span {
    font-size: 60px;
    object-fit: contain;
}

.owl-carousel .owl-nav .owl-next span {
    font-size: 60px;
    object-fit: contain;
}

/*Main section end*/